{% extends 'templates/app.twig' %}

{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <h1>新規作成</h1>
        <table>
          <div class="card-body">
            <form action="{{ path_for('auth.signup') }}" method="post">

              <div class="form-group">
                <label for="userid">ユーザーID</label>
                <input type="text" name="userid" id="userid" class="form-control {{ errors.userid ? ' has-error' : '' }}" value="{{ prev.userid }}">
                <span class="help-block">{{ errors.userid | first }}</span>
              </div>

              <div class="form-group">
                <label for="name">名前</label>
                <input type="text" name="name" id="name" class="form-control {{ errors.name ? ' has-error' : '' }}" value="{{ prev.name }}">
                <span class="help-block">{{ errors.name | first }}</span>
              </div>

              <div class="form-group">
                <label for="email" class="form-control-label">メールアドレス</label>
                <input type="email" name="email" id="email" class="form-control {{ errors.email ? ' has-error' : '' }}" value="{{ prev.email }}">
                <span class="help-block">{{ errors.email | first }}</span>
              </div>

              <div class="form-group">
                <label for="password">パスワード</label>
                <input type="password" name="password" id="password" class="form-control {{ errors.password ? ' has-error' : '' }}">
                <span class="help-block">{{ errors.password | first }}</span>
              </div>

              <button type="submit" class="btn">登録</button>
              {{ csrf.field | raw }}
            </form>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
